<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What is LakeSide PicNic?</h2>
        <p class="lead">The concept of LakeSide PicNic & Friends is simple, bring a friend with a dish for two you made or bought at your favorite restaurant to share. It’s nicer to eat surrounded with new people that like food just like you and have fun conversations! </p>
          <br>
          <p class="lead">We’ll have a calendar with two dates each week you can choose to register, on Wednesday at 7pm and Saturday at 7pm. Once 6 people are registered, we will confirm which part of the lake side the PicNic will happen. </p>
          <br>
          <p class="lead">Each brings a dish we can share on the side of the lake Geneva, in a nice friendly environment and eat together.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
