<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Qu'est-ce que LakeSide PicNic?</h2>
        <p class="lead">Le concept de LakeSide PicNic & Friends est simple, amenez un ami avec un plat pour deux que vous avez fait ou acheté dans votre restaurant préféré pour le partager. C'est plus agréable de manger entouré de nouvelles personnes qui aiment la nourriture comme vous et ont des conversations amusantes! </p>
          <br>
          <p class="lead">Nous aurons un calendrier avec deux dates par semaine, vous pouvez choisir de vous inscrire, le mercredi à 19h et le samedi à 19h pour Genève ou jeudi 19h pour Lausanne. Une fois que 6 personnes seront enregistrées, nous confirmerons quelle partie du bord du lac le PicNic aura lieu. </p>
          <br>
          <p class="lead">Chacun apporte un plat que l'on peut partager au bord du lac Léman, dans une belle ambiance conviviale et manger ensemble.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
