<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Inscrivez-vous au prochain LakeSide PicNic's</h3>
        <a href="https://forms.gle/PDoZehxwB2g4F24M9" class="btn btn-lg btn-light">à Genève</a>
        <a href="https://forms.gle/h4UosCTheM4C28BeA" class="btn btn-lg btn-light">à Lausanne</a>
        <p>Vous serez informé de votre numéro directement en privé.</p>
      </div>
    </div>
  </div>
</aside>
