<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>{{ site.owner }}</strong>
        </h4>
        <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://facebook.com/lakesidepicnics"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/lakesidepicnics/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/lakesidepicnics"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://lakesidepicnics.slack.com"><i class="fa fa-slack fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
        <a href="https://guillaumelauzier.com">Event organized by Guillaume</a>
      </div>
    </div>
  </div>
</footer>
