<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-35910281-44"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-35910281-44');
</script>

<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>LakeSide PicNic's & Friends</h1>
    <h3>Share your love for healthy food, parks and social life.</h3>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Read More</a>
  </div>
</header>
