<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >LakeSide PicNic</a>
    </li>
    <li>
      <a href="https://lakesidepicnic.com" onclick = $("#menu-close").click(); >EN</a>
    </li>
    <li>
    <a href="https://fr.lakesidepicnic.com" onclick = $("#menu-close").click(); >FR</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >A Propos</a>
    </li>
    <li>
      <a href="https://blog.lakesidepicnic.com" onclick = $("#menu-close").click(); >Blog</a>
    </li>
    <li>
      <a href="https://forms.gle/9w4Q9vbKjbqhrdnf7" onclick = $("#menu-close").click(); >Inscription au "PicNic" de Genève</a>
    </li>
    <li>
      <a href="https://forms.gle/h4UosCTheM4C28BeA" onclick = $("#menu-close").click(); >Inscription au "PicNic" de Lausanne</a>
    </li>
    <li>
      <a href="https://facebook.com/lakesidepicnics" onclick = $("#menu-close").click(); >Facebook</a>
    </li>
    <li>
      <a href="https://instragram.com/lakesidepicnics" onclick = $("#menu-close").click(); >Instagram</a>
    </li>
    <li>
      <a href="https://twitter.com/lakesidepicnics" onclick = $("#menu-close").click(); >Twitter</a>
    </li>
  </ul>
</nav>
